* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
}

html,
body {
  height: 100%;
  width: 100%;
  background: $color-bg-body;
}

body {
  margin: 0;
  padding: 0;
  font-size: $font-size-body;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;

  > div.root {
    height: 100%;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: $color-scrollbar-thumb $color-scrollbar-track;

    &::-webkit-scrollbar {
      width: 1rem;
      height: 1rem;
    }

    &::-webkit-scrollbar-track {
      background: $color-scrollbar-track;
    }
    &::-webkit-scrollbar-thumb {
      background: $color-scrollbar-thumb;
      border-radius: 1rem;
      background-clip: padding-box;
      border: 0.2rem solid transparent;
    }
  }
}
